In [1]:
import numpy as np
import pandas as pd

In [3]:
action_space = [i for i in range(1, 7)]

In [4]:
action_space

[1, 2, 3, 4, 5, 6]

In [5]:
action_space_n = len(action_space)

In [6]:
action_space_n

6

In [8]:
symbol = [str(i) for i in range(1, 5)]

In [9]:
symbol

['1', '2', '3', '4']

In [11]:
def cut_matrix(matrix, mr, mt):
    for n in range(mt):
        if matrix[n : n+mr].all() == 0:
            time =  n
    return matrix[:n * mr]

In [20]:
pd.DataFrame(np.zeros((3, 4)))

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [19]:
test = np.array([5,3,2]).reshape(-1)
test

array([5, 3, 2])

In [21]:
def zero_df(rows, columns):
    """ returns dataframe filled with zeros and size rows x columns """
    df = pd.DataFrame(np.zeros((rows, columns)))
    return df

In [22]:
def get_empty_job(rows, columns):
    """ generates an empty job of size rows x columns """
    matrix = zero_df(rows, columns)
    return matrix, matrix

In [23]:
test = get_empty_job(2, 3)

In [27]:
type(test)

tuple